# .env 文件

# HTTP 请求相关配置
REQUEST_TIMEOUT=15

# Celery配置
CELERY_INCLUDE=crawler.myWorkflow
TASK_QUEUE=redis
REDIS_URL=redis://localhost:6379/0
#with password: redis://:mypassword@localhost:6379/0
RABBITMQ_URL=amqp://guest:guest@localhost:5672/


# 日志相关配置
LOG_LEVEL=DEBUG

# 代理相关配置
PROXY_HOST=127.0.0.1
PROXY_PORT=7890


# -----------plugin配置-----------
# LLM相关配置
LLM_TYPE=openai
LLM_BASE_URL=https://api.openai.com/v1
LLM_API_KEY=
LLM_MODEL=gpt-4o