fastapi
uvicorn
pydantic
pydantic-settings
colorama
requests
beautifulsoup4
tenacity
pytest
pytest-asyncio
httpx
loguru
openai
lxml
chardet
diskcache
redis
celery
flower  # celery monitoring
python-dotenv  # .env file support
rich