fastapi
uvicorn
pydantic
pydantic-settings
requests
pytest
pytest-asyncio
httpx
loguru
openai
lxml
chardet
diskcache
redis
celery
flower  # celery monitoring
python-dotenv  # .env file support
rich
eventlet  # for windows10 celery worker